*.cfg
.venv
fastly-py/
bc_otf_proxy.egg-info
.vscode
.env
.env.dev
migrations
__pycache__

# jupyter notebook files
*.ipynb
.ipynb-checkpoints

# socket files
*.sock

# Shell scripts
pg_backup.sh

#Pipfiles
Pipfile_host
Pipfile_remote
Pipfile.lock
Pipfile
