[MIRROR]
site_to_mirror = https://www.site.com
local_files = <path-to-production-html>/site_name
copy_debug = True
copy_parser = html5lib
copy_overwrite = True
project_name = project.url
log_file = <path-to-log-file>