[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
requests = {extras = ["socks"],version = "*"}
requests-html = "*"
click = "*"
azure = "*"
psycopg2 = "*"
sh = "*"
PyGithub = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
pandas = "*"
notebook = "*"
jupyterlab = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7"
