[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
requests = {extras = ["socks"],version = "*"}
requests-html = "*"
click = "*"
PyGithub = "*"
Flask = "*"
azure = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
