flask~=2.0.2
wtforms~=3.0.1
boto3~=1.21.15
alembic~=1.7.6
sqlalchemy~=1.4.32
pyyaml~=6.0
jinja2~=3.0.2
tldextract~=3.2.0
requests~=2.27.1
azure-identity
azure-mgmt-alertsmanagement
flask-migrate
flask-sqlalchemy
bootstrap-flask