{% extends "base.html.j2" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h1 class="h2 mt-3">{{ header }}</h1>
    <p>{{ message }}</p>
    {{ render_form(form) }}
{% endblock %}
