{% extends "base.html.j2" %}
{% from "tables.html.j2" import origins_table %}

{% block content %}
    <h1 class="h2 mt-3">Origins</h1>
    <a href="{{ url_for("portal.new_origin") }}" class="btn btn-success">Create new origin</a>
    {{ origins_table(origins) }}
{% endblock %}
