{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bypass Censorship Application - Administrate Domains
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Domain
            </th>
            <th>
                Paths to Ignore
            </th>
            <th>
                Extensions to ignore
            </th>
            <th>
               S3 Bucket
            </th>
            <th>
                Domain Group
            </th>
            <th>
                
            </th>
            <th>

            </th>
            <th>
                Add to Domain Group
            </th>
    </tr> 
    </thead>
    <tbody>
        {% for domain in domains %}
        <tr>
            <td>
                {{ domain.id }}
            </td>
            <td>
                {{ domain.domain }}
            </td>
            <td>
                {{ domain.paths_ignore }}
            </td>
            <td>
                {{ domain.ext_ignore }}
            </td>
            <td>
                {{ domain.s3_storage_bucket }}
            </td>
            <td>
                {{ domain.coded_dg }}
            </td>
            <td>
                <a class="button is-info" href="{{ url_for('edit_domain', id=domain.id) }}">Edit</a>
            </td>
            <td>
                <a class="button is-warning" href="{{ url_for('delete_domain', id=domain.id) }}">Delete</a>
            </td>
            <td>
                <form action="{{ url_for ('domain_group_choice') }}">
                    <select name='domain_group_choice'>
                      {% for dg in domain_groups %}
                      <option value="{{ dg.id }}">{{ dg.name }}</option>
                      {% endfor %}
                    </select>
                    <input name="domain_id" type="hidden" value="{{ domain.id }}">
                    <button type="submit">Submit</button>
                  </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}