{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bypass Censorship Application - Administrate Domains
</h1>

{% if status == 'inactive' %}
    <a class="button is-info" href="{{ url_for('admin_domains', status='active') }}">List Active Domains</a>
{% else %}
    <a class="button is-info" href="{{ url_for('admin_domains', status='inactive') }}">List Inactive Domains</a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Domain
            </th>
            <th>
                Paths to Ignore
            </th>
            <th>
                Extensions to ignore
            </th>
            <th>
               S3 Bucket
            </th>
            <th>
                Azure Profile Name
            </th>
            <th>
                Domain Group
            </th>
            <th>
                
            </th>
            <th>

            </th>
            <th>
                Add to Domain Group
            </th>
    </tr> 
    </thead>
    <tbody>
        {% for domain in domains.items %}
        <tr>
            <td>
                {{ domain.id }}
            </td>
            <td>
                {{ domain.domain }}
            </td>
            <td>
                {{ domain.paths_ignore }}
            </td>
            <td>
                {{ domain.ext_ignore }}
            </td>
            <td>
                {{ domain.s3_storage_bucket }}
            </td>
            <td>
                {{ domain.azure_profile_name }}
            </td>
            <td>
                {{ domain.coded_dg }}
            </td>
            <td>
                <a class="button is-info" href="{{ url_for('edit_domain', id=domain.id) }}">Edit</a>
            </td>
            <td>
                <a class="button is-warning" href="{{ url_for('delete_domain', id=domain.id) }}">Delete</a>
            </td>
            <td>
                <form action="{{ url_for ('domain_group_choice') }}">
                    <select name='domain_group_choice'>
                      {% for dg in domain_groups %}
                      <option value="{{ dg.id }}">{{ dg.name }}</option>
                      {% endfor %}
                    </select>
                    <input name="domain_id" type="hidden" value="{{ domain.id }}">
                    <input name="status" type="hidden" value="{{ status }}">
                    <button type="submit">Submit</button>
                  </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('admin_domains', page=domains.prev_num, status=status) }}"
       class="button is-dark 
       {% if domains.page == 1 %}disabled{% endif %}">
        &laquo;
    </a><!-- Loop through the number of pages to display a link for each-->
    {% for page_num in domains.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if domains.page == page_num %}
            <a href="{{ url_for('admin_domains', page=page_num, status=status) }}"
               class="button is-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('admin_domains', page=page_num, status=status) }}"
               class="button is-light">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}    <a href="{{ url_for('admin_domains', page=domains.next_num, status=status) }}"
       class="button is-dark
       {% if domains.page == domains.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ domains.page }} of {{ domains.pages }}
</p>
{% endblock %}