{% extends "base.html" %}

{% block content %}
    <h1>Edit Domain</h1>
    <h2>Change Domain Properties</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.domain.label }}<br>
            {{ form.domain(size=30) }}<br>
            {% for error in form.domain.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            {{ form.old_domain() }}
        <p>
            {{ form.ext_ignore.label }}<br>
            {{ form.ext_ignore(size=30) }}<br>
            {% for error in form.ext_ignore.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.paths_ignore.label }}<br>
            {{ form.paths_ignore(size=30) }}<br>
            {% for error in form.paths_ignore.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.s3_storage_bucket.label }}<br>
            {{ form.s3_storage_bucket(size=30) }}<br>
            {% for error in form.s3_storage_bucket.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.azure_profile_name.label }}<br/>
            {{ form.azure_profile_name(size=30) }}<br/>
            {% for error in form.azure_profile_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.inactive.label }}<br/>
            {{form.inactive }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <h2>Domain Alternatives</h2>
    {% if not alternatives %}
        <b>No Alternatives Exist!</b>
    {% else %}
        <ul>
        {% for alternative in alternatives %}
            <li>
                Type: {{ alternative.type }}
            </li>
            <li>
                Created: {{ alternative.created_at }}
            </li>
            <li>
                URL: <a href="{{ alternative.url }}">{{ alternative.url }}</a>
                <a href="{{ url_for('edit_alternative', url=alternative.url) }}" class="button is-warning">Edit</a>
                <a href="{{ url_for('remove_alternative', url=alternative.url) }}" class="button is-danger">Remove</a>
            </li>
        </ul>
        {% endfor %}
        <hr>
    {% endif %}
{% endblock %}