{% extends "base.html" %}

{% block content %}
<h2> {{ title }} </h2>
<form action="" method="post">
    <p>
        {{ form.hidden_tag() }}
    </p>
    <p>
        {{ form.mirror_type.label }}
        {{ form.mirror_type() }}
    </p>
    <p>
        <input type='radio' id='cloudfront' name='service' value='cloudfront'>
        <label for='cloudfront'>Cloudfront</label>
        <input type='radio' id='azure' name='service' value='azure'>
        <label for='azure'>Azure</label>
        <input type='radio' id='fastly' name='service' value='fastly'>
        <label for='fastly'>Fastly</label>
    </p>
    <p>
        <input type='checkbox' id='www_redirect' name='www_redirect'>
        <label for='www_redirect'>www redirect?</label>
        {{ form.mirror_url.label }}
        {{ form.mirror_url(size=40) }}
    </p>
    <p>
        {{ form.inactive.label }}
        {{ form.inactive() }}
    </p>
    <p>
        {{ form.old_url() }}
    </p>
    
    <p>{{ form.submit() }}</p>  
</form>
{% if existing %}
    <a href="{{ url_for('remove_alternative', url=mirror.mirror_url) }}" class="button is-danger">Remove Alternative</a>
{% endif %}
{% endblock %}
