{% extends "base.html" %}

{% block content %}
  <h1 class="title">
    Bypass Censorship Application
  </h1>
  <h1>Log Reports</h1>
  {% if not log_reports %}
    <h2 class="subtitle">No Log Reports for {{ domain }}</h2>
  {% else %}
    {% for log_report in log_reports %}
      <h2 class="subtitle">Domain: {{ log_report.domain }}</h2>

      <p>Dates from: {{ log_report.first_date }} to: {{ log_report.last_date }}</p>
      <p>{{ log_report.report_text }}</p>
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}