{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bypass Censorship Application - Domain Reports
</h1>
<h1>Hello!</h1>
<h2 class="subtitle">
  Recent Domain Reports for {{ domain_choice }}
</h2>
<h3> List of Recent Reports</h3>

{% for item in recent_reports %}
  <p>____________________________ Report Date: {{ item.date_reported }} ______________________</p>
  <p> Domain Status: {{ item.domain_status }} </p>
  <p> Mirror: {{ item.mirror }} Status: {{ item.mirror_status }}</p>
{% endfor %}


{% endblock %}