[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
PyGithub = "*"
requests = {extras = ["socks"],version = "*"}
requests-html = "*"
lxml = "*"
azure = "*"
fastly = "*"
PySocks = "*"
click = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
