{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h2>Origin Group: {{ group.group_name }}</h2>
    <p>Origin groups are logical groupings of origin servers. Usually this would be by news agency, although there may
        be reasons to create multiple origin groups per agency or to group multiple agencies together. Deployed cloud
        resources will be "tagged" with group information that may be used for accounting purposes when that facility
        is available from the cloud provider.</p>
    <dl>
        <dt>Group</dt>
        <dd>{{ group.group_name }}</dd>
        <dt>Origins</dt>
        <dd>{{ group.origins | length }}</dd>
    </dl>
    {{ render_form(form) }}

    {% if group.origins %}
    <h3 class="mt-3">Origins</h3>
    <table class="table table-striped">
        <tr>
            <th>Domain Name</th>
            <th>Description</th>
            <th>Mirrors</th>
            <th>Proxies</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
    {% for origin in group.origins %}
        <tr>
            <td>{{ origin.domain_name }} <a href="https://{{ origin.domain_name }}">⎋</a></td>
            <td>{{ origin.description }}</td>
            <td>{{ origin.mirrors | length }}</td>
            <td>{{ origin.proxies | length }}</td>
            <td><a href="/group/{{ origin.group.id }}">{{ origin.group.group_name }}</a></td>
            <td><a href="/origin/{{ origin.id }}" class="btn btn-primary">View/Edit</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}