{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h2>Origin: {{ origin.domain_name }}</h2>
    <p>Origin servers are the servers that host the primary access point to a news service. They are identified by a
        DNS domain name.</p>
    {{ render_form(form) }}

    {% if origin.mirrors %}
        <h3 class="mt-3">Mirrors</h3>

        <table class="table table-striped">
            <tr>
                <th>Origin Domain Name</th>
                <th>URL</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
            {% for mirror in origin.mirrors %}
                <tr>
                    <td><a href="/origin/{{ mirror.origin.id }}">{{ mirror.origin.domain_name }} ⎋</a></td>
                    <td>{{ mirror.url }}</td>
                    <td><a href="/group/{{ mirror.origin.group.id }}">{{ mirror.origin.group.group_name }}</a></td>
                    <td><a href="/mirror/{{ mirror.id }}" class="btn btn-primary">View/Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if origin.proxies %}
        <h3 class="mt-3">Proxies</h3>

        <table class="table table-striped">
            <tr>
                <th>Origin Domain Name</th>
                <th>URL</th>
                <th>Group</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            {% for proxy in origin.proxies %}
                {% if not proxy.destroyed %}
                    <tr{% if proxy.deprecated %} class="bg-warning"{% endif %}>
                        <td><a href="/origin/{{ proxy.origin.id }}">{{ proxy.origin.domain_name }}</a></td>
                        <td>{{ proxy.url }}</td>
                        <td><a href="/group/{{ proxy.origin.group.id }}">{{ proxy.origin.group.group_name }}</a></td>
                        <td>{{ proxy.added }}</td>
                        <td>
                            <a href="/proxy/{{ proxy.id }}" class="btn btn-primary">View/Edit</a>
                            {% if proxy.deprecated %}
                                <a href="/proxy/restore/{{ proxy.id }}" class="btn btn-success">Restore</a>
                            {% else %}
                                <a href="/proxy/deprecate/{{ proxy.id }}" class="btn btn-warning">Deprecate</a>
                            {% endif %}
                            <a href="/proxy/destroy/{{ proxy.id }}" class="btn btn-danger">Destroy</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}