{% extends "base.html" %}

{% block content %}
    <h2>Origins</h2>
    <p>Origin servers are the servers that host the primary access point to a news service. They are identified by a
       DNS domain name.</p>
    <p><a href="/origin/new" class="btn btn-success">Add new origin</a></p>
    <table class="table table-striped">
        <tr>
            <th>Domain Name</th>
            <th>Description</th>
            <th>Mirrors</th>
            <th>Proxies</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
    {% for origin in origins %}
        <tr>
            <td>{{ origin.domain_name }} <a href="https://{{ origin.domain_name }}">⎋</a></td>
            <td>{{ origin.description }}</td>
            <td>{{ origin.mirrors | length }}</td>
            <td>{{ origin.proxies | length }}</td>
            <td><a href="/group/{{ origin.group.id }}">{{ origin.group.group_name }}</a></td>
            <td><a href="/origin/{{ origin.id }}" class="btn btn-primary">View/Edit</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}