{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    {% if new %}
    <h2>New Proxy</h2>
    {% else %}
    <h2>Proxy: {{ proxy.origin.domain_name }} #{{ proxy.id }}</h2>
    {% endif %}
    <p>Proxies are managed resources deployed in cloud environments by the Bypass Censorship Portal. They provide an
       alternative access point to a news service that forwards the traffic back to the origin server from the cloud
       environment. If the service is blocked in the user's geography, they will be able to browse the news
       service by accessing this alternative access point.</p>
    <dl>
        <dt>Group</dt>
        <dd><a href="/group/{{ proxy.origin.group.id }}">{{ proxy.origin.group.group_name }}</a></dd>
    </dl>
    {{ render_form(form) }}

{% endblock %}